<div class="btn-group">
	<i class="icon-list dropdown-toggle" data-toggle="dropdown"> </i>
	<ul class="dropdown-menu">
		{{! see the view tasknew }}
		{{#with App.Types}}
		    {{#each types}}
		        <li {{bindAttr class='this'}}>
		        	{{#view App.TypeViews contentBinding="controller"}}
		        		{{this}}
		        	{{/view}}
		        </li>
		    {{/each}}
		{{/with}}
	</ul>
</div>
