<div class="btn-group">
	<i class="icon-time dropdown-toggle" data-toggle="dropdown"> </i>
	<ul class="dropdown-menu">
		{{! see the view tasknew }}
		{{#with App.TimePicker}}
		    {{#each time}}
		        <li {{bindAttr class='this'}}>
		        	{{#view App.TimeViews contentBinding="controller"}}
		        		{{this}}
		        	{{/view}}
		        </li>
		    {{/each}}
		{{/with}}
	</ul>
</div>
