
<dl>
	<dt {{bindAttr class="sortAscending:icon-arrow-down:icon-arrow-up"}}></dt>
	<dd><a class="btn-small btn-success" {{action pushSort 'type'}}>Type</a></dd>
	<dd><a class="btn-small btn-success" {{action pushSort 'until'}}>Until</a></dd>
	<dd><a class="btn-small btn-success" {{action pushSort 'user.username'}}>User</a></dd>
</dl>
