{{#view App.DragableTask contentBinding="task"}}
	<div {{bindAttr class=':clearfix task.type '}}>
			<img class='user-avatar' {{bindAttr src="task.user.avatar"}}>
			<i class="icon-time"></i>
			{{#if task.is_now }}
				<span class="time"><small>{{date task.end_time}}</small></span>
			{{else}}
				<span class="time"><small>finished</small></span>
			{{/if}}
			{{#linkTo tasks.edit task}}<i class="icon-edit"></i>{{/linkTo}}
			<i {{ action "delete" task }} class="icon-remove last"></i>
		{{ task.title }}
	</div>
{{/view}}