
<dl>
	<dt class="icon-time"></dt>
	<dd><a class="btn-small btn-danger" {{action pushTime 'today'}}>Today</a></dd>
	<dd><a class="btn-small btn-primary" {{action pushTime 'week'}}>Week</a></dd>
	<dd><a class="btn-small btn-primary" {{action pushTime 'month'}}>This month</a></dd>
</dl>
