<html>
  <head><title>Tasks manager</title></head>

  <body>
    <div class="navbar ">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         {{#linkTo 'index' class="brand" }}Task Manager{{/linkTo}}
          <ul class="nav" id="main-menu-left">
            <li>{{#linkTo 'tasks'}} Tasks {{/linkTo}} </li>
            <li>{{#linkTo 'users'}} Users {{/linkTo}} </li>
            <li></li>
          </ul>
         </div>
       </div>
     </div>
    </div>

    {{! <div class="container"> }}
      <div class="row-fluid">
        <div class="span12">
          {{outlet}}
         </div>
      </div>
    {{! </div> }}

  </body>
</html>