
<div class="row-fluid">
	<div class="well span1 status">
		<ul class='nav indexuserlist'>
			<li class = "name">Users</li>
			{{#each user in controller }}
				<li>
					{{#linkTo 'user' user class="user_list"}} 
		    			<img class='avatar img-polaroid' {{bindAttr src="user.avatar"}}>
		    		{{/linkTo}} 
		    	</li>
			{{/each}}
		</ul>
	</div>

	<div class="well span11 status">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav indextasklist">
				{{#view App.Timeline contentBinding="controller"}}		
					{{ timerlinetop}} 
				{{/view}}
				{{#each user in controller}}
					<li>
						{{#each task in user.sorted_tasks}} 
							{{#if task.is_now }}
								{{!  need to add color to the tasks }}
								{{#view App.Taskuser contentBinding="task" classbinding='task.type'}}
									{{task.title}}
								{{/view}}
							{{/if}}
						{{/each}}
					</li>
				{{/each}}
				{{#view App.Timeline contentBinding="controller"}}		
					{{ timerlinebottom }}
				{{/view}}
		</div>
	</div>
	</div>
</div>

