
<div class="btn-group">
	<i class="icon-user dropdown-toggle" data-toggle="dropdown"> </i>
	<ul class="dropdown-menu">
		{{#each user in controller}}
			{{#view App.UserList contentBinding="user"}}
				<a href="#" class="clearfix">
					<img class='user-avatar' {{bindAttr src="user.avatar"}}> 
					{{ user.username }} 
				</a>
			{{/view}}
		{{/each}}	 
	</ul>
</div>