<div class="row-fluid">
	<div class="span4 status well"><h3>Tasks</h3> {{#linkTo tasks.new class="btn btn-primary add_button"}} New task {{/linkTo}}</div>
	<div class="span4 status">{{partial 'timecontrols'}}</div>
	<div class="span4 status">{{partial 'sortcontrols'}}</div>
</div>
{{ outlet }}
<div class="row-fluid">
	{{! here id must not be deleted }}
	<div class="well span4 status" id='backlog'>
		Backlog
		{{#view App.DropableStatus contentBinding="controller"}}
			<li class="divider"></li>
			{{#each task in controller.backlog }}
				{{partial 'tasklist'}}
			{{/each}}
			<li class="divider"></li>
		{{/view}}
	</div>

	<div class="well span4 status" id='current'>
		Current
		{{#view App.DropableStatus contentBinding="controller"}}
			<li class="divider"></li>
			{{#each task in controller.current}}
				{{partial 'tasklist'}}
			{{/each}}
			<li class="divider"></li>
		{{/view}}
	</div>

	<div class="well span4 status" id='completed'>
		Complete
		{{#view App.DropableStatus contentBinding="controller"}}
			<li class="divider"></li>
			{{#each task in controller.completed}}
				{{partial 'tasklist'}}
			{{/each}}
			<li class="divider"></li>
		{{/view}}
	</div>



