<div class="row-fluid user">
	<div class="well span6 status" id='current'>
		Current
		{{#view App.DropableStatus contentBinding="controller"}}
			<hr>
			{{#each task in controller.current}}
				{{#if task.this_week}}
				{{#view App.DragableTask contentBinding="task"}}
		    		{{#linkTo 'task' task class="user_list"}} {{ task.title }} {{/linkTo}}
		    	{{/view}}
		    	{{/if}}
		    	{{else}}
		    		<p><small>You have no current tasks.</small></p>
			{{/each}}
			<hr>
		{{/view}}
	</div>

	<div class="well span6 status" id='completed'>
		Complete
		{{#view App.DropableStatus contentBinding="controller"}}
			<hr>
			{{#each task in controller.completed}}
				{{#if task.this_week}}
				{{#view App.DragableTask contentBinding="task"}}
		    		{{#linkTo 'task' task class="user_list"}} {{ task.title }} {{/linkTo}}
		    	{{/view}}
		    	{{/if}}
		    	{{else}}
		    		<p><small>You have no completed tasks.</small></p>
			{{/each}}
			<hr>
		{{/view}}
	</div>
</div>

