<p> {{ username }} </p>
<a href="#" {{ action "delete" model }} class="btn btn-danger btn-mini"><i class="icon-trash"></i></a>

<div class="row-fluid">
	<div class="span7 info">
		<p>Graph:</p>
		{{#if current}}
			{{#view App.GraphShow contentBinding="controller"}}{{/view}}
		{{else}}
		<p><small>No data to show the graph.</small></p>
		{{/if}}
		<div id="pieHover"></div>
	</div>
	<div class="span5 info">
		<p>Statistics:</p>
		<hr>
			Current Tasks:  {{current}} 
		<p>	Task completed: {{completed}} </p>
		<p>	Total Tasks: 	{{total}} </p>
	</div>

{{! 	<div class="row-fluid">
		<div class="span12 status usertask"> }}
			{{	render 'usertasks' tasks }}
{{! 		</div>
	</div> }}

</div>