<div class="row-fluid">
	<div class="well span4 status">
		Usernames: 
		<ul class='nav'>
			<li class="divider"></li>
			{{#each user in controller }}
				<li class="actives ">
		    		{{#linkTo 'user' user class="user_list"}} 	
		    			<img class='avatar' {{bindAttr src="user.avatar"}}>
		    			{{ user.username }} 	
		    		{{/linkTo}} 
		    	</li>
			{{/each}}
			<li class="divider"></li>
			{{#linkTo users.new class="btn btn-primary add_user"}} New User {{/linkTo}}
		</ul>
	</div>

	<div class="well span8 status">
		{{ outlet }}
	</div>
</div>
