<hr>
<form class="well form-search" {{action "save" on="submit"}} {{bindAttr id='id'}}>
	{{view Ember.TextField valueBinding='title' placeholder="Title" class="input" }}
	{{view Ember.TextField valueBinding='description' placeholder="Descripion" class="input" }}
	{{view Ember.TextField valueBinding='until' placeholder="Time in minutes" class="input-small" type="number" }}
	
	{{ partial 'setuptime'}}
	{{ partial 'settype'}}

	<img class='user-avatar' {{bindAttr src="user.avatar"}}>
	{{ render 'newtaskuser'}}
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<hr>

