<hr>
<form class="well form-search" {{action "save" on="submit"}} {{bindAttr id='id'}}>
	{{view Ember.TextField valueBinding='title' placeholder="Title" class="input" }}
	{{view Ember.TextField valueBinding='description' placeholder="Descripion" class="input" }}
	{{view Ember.TextField valueBinding='until' placeholder="Start" class="input-small" type="number" }}
	<img class='user-avatar' {{bindAttr src="user.avatar"}}>
	{{ partial 'setuptime'}}
	{{ partial 'settype'}}
	{{ render 'newtaskuser'}}
    <button type="submit" class="btn btn-primary">Go</button>
</form>
<hr>

