 body{
 	background-color: #F6F6F6;
 }

/*=================================
				Index
=================================*/

.indexuserlist{
	padding: 0 auto;
	text-align: center
}
.indexuserlist li{
	margin-top: 8px;
	margin-left: -10px;
}


.indexuserlist li.name{
	margin-bottom: 48px;
}

.indextasklist li{
	height: 60px;
	margin-top: 8px;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
	overflow: hidden;
	position: relative;
}

.indextasklist li>div{
	padding-top:15px;
	color: white;
	text-align: center;
	position: absolute;
	float:left;
	height: 45px;
	/*margin-right: 15px;*/
	overflow: hidden;
	font-size: 11px;
	background-color: #e3e3e3;
	color:#888;
	border-top: 1.5px solid white;
	border-bottom: 1.5px solid #c5c5c5; 
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}

.indextasklist li>div.timer{
	width: 10000px;
	font-size:14px;
	padding-top: 0px;
	height: 100%;
}

div.time{
	display:inline-block
	width: 100%;
	height: 20px;
	float: left;

	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
}

div.hours, div.min{
	content: "";
	/*color:black;*/
	font-size: 15px;
	width: 20px;
	float: left;
	margin-right: 40px;
	text-align: center;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
}

/*======================================*/

div.timeline{
	float: left;
	width: 100%;
	height: 40px;

}

.indextasklist li>div.timer div.hourline{
	float: left;
	width:3px;
	height:40px;
	background-color:#6D6D6D;
	border:none;
	margin-right: 57px;
}

.indextasklist li>div.timer div.minline{
	float: left;
	width:3px;
	height:25px;
	background-color:#6D6D6D;
	border:none;
	margin-right: 57px;
}

/*=================================
			  Tasks
=================================*/

.add_button{
 	margin-left: 80px;
	margin-top: -42px;
 	float: left;
 }

.container .span4{
	margin-top: 0px;
}

.status{
/*	text-align: center;*/
	margin-bottom: 20px;
	font-weight: bold;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;

	/*-moz-box-shadow: inset 0 0 3px #888;
	-webkit-box-shadow: inset 0 0 3px#888;
	box-shadow: inner 0 0 3px #888;*/
}

.minimum { 
    min-height: 100%;
    height: 100%;
}

#ember257, html, body {
    height: 100%;
}

li.divider{
	border-bottom: 0px;
	height:1px;
	margin-top:45px;
	margin-bottom:20px;
	margin-left: 1px;
	background-color: #BBB;
}

li.actives div,li.actives a.user_list{
	/*font-size: 13px;*/
	padding: 5px;
	color:black;
	background-color: #e3e3e3;

	border-top: 1.5px solid white;
	border-bottom: 1.5px solid #c5c5c5; 
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}

.droppablehover{
	background-color: #6D6D6D;
}

/* Tasks colors*/
li a .time{
	color: black;
	font-size: 11.5px;
	margin-left:5%;
}

.last{margin-right:10px}


.btn-group{
	margin: 0 10px 0 10px;
}

/*for tasks page and dropdown*/
.dropdown-menu li.bug  a{color:white;}
.dropdown-menu li.add  a{color:white;}
.dropdown-menu li.improve  a{color:white;}

/*for tasks page and dropdown*/
li div.bug, .dropdown-menu li.bug {color:white; background-color: #AA4643; }
li div.bug:hover, .dropdown-menu li.bug:hover{background-color: rgba(230,0,51,1);}

li div.add, .dropdown-menu li.add {  color:white; background-color: #89A54E; }
li div.add:hover, .dropdown-menu li.add:hover{ background-color: #379F15;}

li div.improve, .dropdown-menu li.improve {color:white; background-color: #4572A7;}
li div.improve:hover, .dropdown-menu li.improve:hover{ background-color: #0072E6;}

.user-avatar{
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;
	margin-right: 6px;
}

.user-settings{
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	margin-bottom: 20px;
}

dd{
	float: left;
	margin-left: 22px;
}
dd a{
	font-size: 13px;
	padding: 5px;
	color:black;
	background-color: #e3e3e3;

	border-top: 1.5px solid white;
	border-bottom: 1.5px solid #c5c5c5; 
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;

	text-decoration: none;
	color:black;
}

dd a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

/*=================================
			  Users
=================================*/

.avatar{
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.info {
	height: 150px;
	padding: 10px;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
	margin-bottom: 20px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.containers{
	min-width: 200px; 
	width: 230px;
	height: 130px; 
	margin: -30px auto;
	margin-right: -25px;
}

.usertask{
	padding: 15px 15px;
}

.user #current, .user #completed{
	height: 300px;
}

hr{
	border-bottom: 1px solid #929292;
}

li.rating{
	height: 50px;
	font-size: 13px;
	padding: 5px;
	color:black;
	background-color: #e3e3e3;

	border-top: 1.5px solid white;
	border-bottom: 1.5px solid #c5c5c5; 
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}

.current{
	font-size: 11px;
	font-color: #e3e3e3;
	text-align: center;
	width:10px;
	width: 0px;
	padding-top: 12px;
	margin-left: 7px;
	height: 38px;
	border-top: 1.5px solid white;
	border-bottom: 1.5px solid #c5c5c5; 
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	float: left;
};

