<div class="row-fluid">
	<div class="span12">
		<p> User stats. </p>
		<ul class="nav ratings">
			<li class="divider"></li>
			{{#each user in controller }}
				{{#view App.Rating contentBinding="user"}}{{/view}}
			{{/each}}
			<li class="divider"></li>
		</ul>
	</div>
</div>