<div class="row-fluid">
	<div class="span12">
		<p> User info. </p>
		<ul class="nav">
			<li class="divider"></li>
			<form class="well form-search" {{action "save" on="submit"}}>
				{{view Ember.TextField valueBinding='username' placeholder="Username" class="input small" }}
				{{view Ember.TextField valueBinding='avatar' placeholder="Link to image" class="input" }}
			    <button type="submit" class="btn btn-primary">Go</button>
			</form>
			<li class="divider"></li>
		</ul>
	</div>
</div>

